* {
    margin-top: 9;
    align-items: center;
    box-sizing: border-box;
    
}

html {
    background-image: url("https://picsum.photos/1600/1000?random=1");
    height: 100vh;
    margin-top: 9;
}

#loader {
    display: none;
}

body {
    margin-top: 9;
    width: 95%;
    margin: auto;
    opacity: 1.0;

}

.container-fluid {
    width: 95%;
    margin: auto;
    opacity: 1.0;
}

.navbar {
    width: 95%;
    margin: auto;
    margin-top: 9;
}





